<html>
  <head>
    <meta charset="UTF-8" />
    <title>Metrique</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <div id="chart_div"></div>
    <script>
      fetch('/tawarano/')
        .then(response => response.json())
        .then(data => {
          google.charts.load('current', { packages: ['corechart', 'histogram'] });
          google.charts.setOnLoadCallback(function() {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Date');
            dataTable.addColumn('number', 'Température (°C)');
            
            data.results.forEach(entry => {
              var date = new Date(entry.Jour * 1000);
              dataTable.addRow([date.toLocaleDateString(), entry.temp]);
            });

            var options = {
              title: 'Évolution des températures de la ville de Tawarano',
              legend: { position: 'none' },
            };

            var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
            chart.draw(dataTable, options);
          });
        });
    </script>
  </body>
</html>
